.w20l, .w25l, .w33l, .w50l, .w60l, .w66l, .w75l{
  float: left;
  margin-right: 2%;
}  
.w20l{
  width: 18%;
}
.w25l{
  width: 23%;
}
.w33l{
  width: 31%;
}
.w50l{
  width: 48%;
}
.w60l{
  width: 58%;
}
.w66l{
  width: 64%;
}
.w75l{
  width: 73%;
}
.vertical.type-text input{
  width: 100%;
  padding: 1px 4px;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #afafaf;
}
.vertical.type-text textarea{
  width: 97%;
  padding: 1px 4px;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
  border-radius: 2px;
  border: 1px solid #afafaf;
    
}
.vertical.type-select select{
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #afafaf;
}
.type-radio label{
}
dd{
  margin: 0;
}
.row{
  overflow: hidden;
}
.form-description{
  color: #888;
  font-size: 11px; 
}
.type-submit input{
  cursor: pointer;
  height: 20px;
}
.type-text input:hover,
.type-select select:hover,
.type-text textarea:hover,
.type-text input:focus,
.type-select select:focus,
.type-text textarea:focus{
  border: 1px solid #81b1da;
  box-shadow: 0 0 2px #81b1da;
}
.horizontal dt{
  display: inline-block;
  color: #666;
}
.horizontal dd{
  display: inline-block;
}
.vertical dt{
  color: #666;
  line-height: 15px;
  margin-bottom: 3px;
}
.vertical.no-label{
  padding-top: 16px;
}

label{
  font-size: 12px;
  line-height: 14px;
  color: #787878;
}
.block-fieldset{
  border-bottom: 1px solid #999;
  border-top: 1px solid #fff;
  padding: 7px 0;
  background: #fbfbfb;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#fff');
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top,  #ededed,  #fff); 
    background: -o-linear-gradient(top,  #ededed,  #fff);
    background: -ms-linear-gradient(top,  #ededed,  #fff);
}

.block-fieldset legend{
  display: block;
  width: 132px;
  float: left;
  text-align: center;
  padding-top: 18px;
} 

.block-fieldset .row{
  margin-left: 132px;
  padding: 8px 10px 16px;
  border-left: 1px solid #C2C2C2;
}
.first-row{
  padding: 0px 10px 16px !important;
}
.row.table-wrapper{
  padding: 0;
}
.row.border-bottom{
  border-bottom: 1px solid #C2C2C2;
}

.date, .date:hover, .date:active, .date:focus {
    background: url("/sites/all/themes/Adminus/img/calendar.png") no-repeat scroll 95% 50% #FFFFFF !important;
}
.item1,
.item2,
.item3,
.item4,
.item5{
  font-size: 14px;
  line-height: 18px;
}
.item1{
  color: #448CCB;
}
.item2{
  color: #675F8A;
}
.item3{
  color: #7EB632;
}
.item4{
  color: #F7A930;
}
.item5{
  color: #BD62A3;
}



/* buttons */
.button-group .right{
  text-align: right;
}
.blue-button, .gray-button, .default-button {
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    padding: 0px 11px 1px;
    text-decoration: none;
    cursor: pointer;
}
a.blue-button,
a.gray-button,
a.default-button{
  height: 20px;
  line-height: 19px;
  padding: 0 11px;
}
.blue-button {
    border: 1px solid #488FCF;
    box-shadow: 0 1px 1px #FFFFFF, 0 1px 1px #78B1E3 inset;
    
    background: #488FCF;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4B97DA', endColorstr='#478ECE');
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4B97DA), to(#478ECE));
      background: -moz-linear-gradient(top,  #4B97DA,  #478ECE); 
      background: -o-linear-gradient(top,  #4B97DA,  #478ECE);
      background: -ms-linear-gradient(top,  #4B97DA,  #478ECE);
}
.gray-button{
  border: 1px solid #565f6c;
  box-shadow: 0px 1px 1px #fff, 0px 1px 1px #9ea4ad inset;
  background: #646d79; /* for non-css3 browsers */ 
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d8591', endColorstr='#555e6b');
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7d8591), to(#555e6b));
      background: -moz-linear-gradient(top,  #7d8591,  #555e6b); 
      background: -o-linear-gradient(top,  #7d8591,  #555e6b);
      background: -ms-linear-gradient(top,  #7d8591,  #555e6b);
}
.blue-button:focus,
.blue-button:hover{
  box-shadow: 0px 1px 1px #fff, 0px -1px 1px #78b1e3 inset;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#478ece', endColorstr='#4b97da');
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#478ece), to(#4b97da));
    background: -moz-linear-gradient(top,  #478ece,  #4b97da); 
    background: -o-linear-gradient(top,  #478ece,  #4b97da);
    background: -ms-linear-gradient(top,  #478ece,  #4b97da);
}
.gray-button:focus,
.gray-button:hover{
  box-shadow: 0px 1px 1px #fff, 0px -1px 1px #9ea4ad inset;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555e6b', endColorstr='#7d8591');
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555e6b), to(#7d8591));
    background: -moz-linear-gradient(top,  #555e6b,  #7d8591); 
    background: -o-linear-gradient(top,  #555e6b,  #7d8591);
    background: -ms-linear-gradient(top,  #555e6b,  #7d8591);
}
.default-button:hover,
.default-button:focus{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8c8c8', endColorstr='#fdfdfd');
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c8c8c8), to(#fdfdfd));
    background: -moz-linear-gradient(top,  #c8c8c8,  #fdfdfd);
    background: -o-linear-gradient(top,  #c8c8c8,  #fdfdfd);
    background: -ms-linear-gradient(top,  #c8c8c8,  #fdfdfd); 
}
.default-button {
  vertical-align: top;
  border-radius: 3px;
  color: #000;
}    
.default-button span {
  display: block;
  height: 17px;
  width: 13px;
}
