body {
  font: 13px/20px Verdana, sans-serif;
  background-color: #8C96A3;
  min-height: 100%;
}
p {
  margin: 0 0 18px;
}
img {
  border: none;
}
a{
  color: #448CCB;
}
.fl-r{
  float: right;
}
.fl-l{
  float: left;
}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.container {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}
.container-inner {
  padding: 0 0 0 220px;
}
.background{
  background: url('../img/bg.jpg') repeat-y 0 0;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
}
.content{
  padding: 20px;
  background-color: #F4F4F4;
  border-left: 1px solid #949597;
}
.show-block-hint{
  display: none;
  height: 100%;
  position: fixed;
  z-index: 100;
  
  width: 12px;
  padding: 0 9px 0 5px;
  margin-left: -22px;

  color: #448CCB;
  text-shadow: 0px 1px 1px #fff;
  border: 1px solid #ddd;
  border-radius: 0 4px 4px 0;
  box-shadow: -1px 1px 3px #fff inset;
  
  background: #F4F4F4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ccc');
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#ccc));
    background: -moz-linear-gradient(left,  #f4f4f4,  #ccc); 
    background: -o-linear-gradient(left,  #f4f4f4,  #ccc);
    background: -ms-linear-gradient(left,  #f4f4f4,  #ccc);
}
.show-block-hint span{
  top: 50%;
  margin-top: -10px;
}