body {
  font: 13px/20px Verdana, sans-serif;
  background-color: #8C96A3;
  min-height: 100%;
}
p {
  margin: 0 0 18px;
}
img {
  border: none;
}
a{
  color: #448CCB;
}
.inline-block{
  display: inline-block;
}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
  width: 100%;
  min-width: 940px;
  max-width: 1500px;
  position: relative;
  overflow: hidden;
  background: url('../img/bg.jpg') repeat-y 0 0;
}
.container {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  
}
.container-inner {
  padding: 0 0 0 220px;
}
.background{
  background: url('../img/bg.jpg') repeat-y 0 0;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
}
.content{
  padding: 20px;
  background-color: #F4F4F4;
  border-left: 1px solid #949597;
}
.show-block-hint{
  display: none;
  height: 100%;
  position: fixed;
  z-index: 100;
  
  width: 12px;
  padding: 0 9px 0 5px;
  margin-left: -23px;

  color: #448CCB;
  text-shadow: 0px 1px 1px #fff;
  border: 1px solid #999;
  border-radius: 0 3px 3px 0;
 /* box-shadow: -1px 1px 3px #fff inset;*/
  
  background: #F4F4F4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#C8C8C8');
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD), to(#C8C8C8));
    background: -moz-linear-gradient(right,  #FDFDFD,  #C8C8C8); 
    background: -o-linear-gradient(right,  #FDFDFD,  #C8C8C8);
    background: -ms-linear-gradient(right,  #FDFDFD,  #C8C8C8);
}
.show-block-hint span{
  top: 50%;
  margin-top: -10px;
}