table{
  width: 100%;
  border-collapse: separate;
}
table tr td{
  border-top: 1px solid #c9c9c9;
  border-bottom: 2px solid #fff;
  background-color: #fff;
  padding: 2px 6px;
}
thead th{
  color: #fff;
  font-weight: normal;
  padding: 4px 6px;
  border-left: none;
  text-align: left;
  text-shadow: 0px 1px 1px #000;
  background: url("../img/table-border.png") no-repeat scroll right center transparent;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
table tr:hover td{
  background-color: #f0f0f0;
}
table tr.even td{
  background-color: #E2E2E2;
}
table a{
  text-decoration: underline;
}

thead th a{
  color: #fff;
  font-weight: normal;
}
thead th a:hover{
  color: #fff;
  text-decoration: none;
}
thead{
  background: #69717e;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#535c69', endColorstr='#7d8591');
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#535c69), to(#7d8591));
  background: -moz-linear-gradient(top,  #535c69,  #7d8591); 
  background: -o-linear-gradient(top,  #535c69,  #7d8591);
  background: -ms-linear-gradient(top,  #535c69,  #7d8591); 
}

table tr.status-1 td{
  background-color: #ffffcc
}
table tr.status-1:hover td,
table tr.status-1{
  background-color: #ffff99 !important;
}
table tr.status-2 td,
table tr.status-2,
table tr.status-4 td{
  background-color: #fde9f2 !important;
}
table tr.status-2:hover td,
table tr.status-2,
table tr.status-4:hover td{
  background-color: #f9c5dd !important;
}
table tr.status-3 td,
table tr.status-3{
  border-width: 2px 0 2px 0;
  border-color: #7f7f7f;
}
table tr.status-3 td:first-child{
  border-left: 2px solid #7f7f7f !important; 
}
table tr.status-3 td:last-child{
  border-right: 2px solid #7f7f7f !important;
}
table tr.status-5 td{
  background-color: #e0e0ef;
}
table tr.status-5:hover td{
  background-color: #cfcfe6;
}
table .type-check{
  padding: 0;
}